<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gingerbread House</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        form {
            border: solid 2px lightgrey;
            padding: 10px;
            border-radius: 5px;
        }

        form:focus-within {
            border-color: rgb(35, 159, 241);
        }

        tr:hover {
            background-color: #F0F0F0;
        }
    </style>
</head>
<body class="teal lighten-5">
    <div class="container">
        <div class="section flow-text" id="stuffDetails">
            <h1 class="blue-text text-darken-5">Bucket Details!</h1>
            <table>
                <tr>
                    <th>Name:</th>
                    <td>Build a gingerbread house</td>
                </tr>
                <tr>
                    <th>Category:</th>
                    <td>Craft</td>

                </tr>
                <tr>
                    <th>Status:</th>
                    <td>Started</td>

                </tr>
                <tr>
                    <th>Description:</th>
                    <td>
                        Make the biggest and tastiest gingerbread house you possibly can!
                    </td>
                </tr>
            </table>
        </div>

        <div class="section" id="bucketControls">
            <a class="btn-large waves-effect waves-light blue left modal-trigger" href="#stuffEdit">
                <i class="material-icons right">edit</i>Edit
            </a>
            <a class="btn-large waves-effect waves-light red right">
                <i class="material-icons right">delete</i>Delete
            </a>
        </div>


        <div class="modal" id="stuffEdit">

            <div class="modal-content">

                <h2 class="blue-text">Edit Bucket:</h2>
                <form>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="validate" data-length="32" required>
                        </div>
                        <div class="input-field col s6">
                            <label for="category">Category</label>
                            <input type="text" name="category" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="status">Status</label>
                            <input type="text" name="status" data-length="32" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="description">Description (optional)</label>
                            <input type="text" name="description" data-length="100">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light " type="submit"><i
                                class="material-icons right">send</i>Update!</button>

                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">I'm good</a>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>
</body>
</html>