<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body class ="teal lighten-5">
        <center><h1 class="blue-text text-darken-5">Bucket List Builder!</h1></center>
        <center><p class="blue-text text-darken-3">Welcome to your bucket list builder! Here you can add and edit items in your bucket list to keep track of what you need to do!</p></center>
        
        <center><a class="waves-effect waves-light btn" href="/inventory">Click here to get started!</a></center>
        <p></p>
        <center><img src="images/list.png" width="200" height="250" alt="hi"></img></center>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</body>
</html>