<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
</head>
<body class ="teal lighten-5">
    <center><h1 class="blue-text text-darken-5">Your Bucket List</h1></center>
    <table class="centered">
        <thead>
          <tr>
              <th>Item</th>
              <th>Category</th>
              <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Ice Skating</td>
            <td>Adventure</td>
            <td>Completed</td>
            <td>
              <a class="btn-small waves-effect waves-light blue" href="/inventory/bucket"><i
                      class="material-icons right"></i>Edit</a>
              <a class="btn-small waves-effect waves-light red"><i
                      class="material-icons right"></i>Delete</a>
            </td>
          </tr>
          <tr>
            <td>Skydiving</td>
            <td>Adventure</td>
            <td>Not Started</td>
            <td>
              <a class="btn-small waves-effect waves-light blue" href="/inventory/bucket"><i
                      class="material-icons right"></i>Edit</a>
              <a class="btn-small waves-effect waves-light red"><i
                      class="material-icons right"></i>Delete</a>
            </td>
          </tr>
          <tr>
            <td>Build a gingerbread house</td>
            <td>Craft</td>
            <td>Started</td>
            <td>
              <a class="btn-small waves-effect waves-light blue" href="/inventory/bucket"><i
                      class="material-icons right"></i>Edit</a>
              <a class="btn-small waves-effect waves-light red"><i
                      class="material-icons right"></i>Delete</a>
            </td>
          </tr>
          <tr>
            <td>Write a book</td>
            <td>Academic</td>
            <td>Started</td>
            <td>
              <a class="btn-small waves-effect waves-light blue" href="/inventory/bucket"><i
                      class="material-icons right"></i>Edit</a>
              <a class="btn-small waves-effect waves-light red"><i
                      class="material-icons right"></i>Delete</a>
            </td>
          </tr>
        </tbody>
    
      </table>

      <div class="section" id="stuffAdd">
        <center><h2 class="blue-text">Add Bucket List Items Here!</h2></center>
        <form>
            <div class="row">
                <div class="input-field col s6">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="validate" data-length="32" required>
                </div>
                <div class="input-field col s6">
                    <label for="category">Category</label>
                    <input type="text" name="category" required>
                </div>
                <div class="input-field col s6">
                  <label for="status">Status</label>
                  <input type="text" name="status" required>
              </div>
              <div class="input-field col s6">
                <label for="description">Description (optional)</label>
                <input type="text" name="description">
            </div>
            </div>
            <center><button class="btn waves-effect waves-light blue" type="submit"><i
                    class="material-icons right"></i>Submit</button></center>
        </form>
        
    </div>
</div>
            
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>